.banner{
  padding: 20px;
  text-align: center;
  margin: -10px;
  margin-bottom: -25px;
}
.img{
    width: 1500px;
    height: 350px;
    margin-left: -66px;
    margin-top: -20px;
    margin-right: -66px;

}
.nav{
    margin-left: -20px;
    margin-top: -20px;
    
}
ul {
    margin-top: -20px;
    margin-left: -8px;
    width: 1500px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .container {
    overflow: hidden; 
}

.left-image {
    width: 350px;
    float: left;
    margin-right: 20px; 
}
.footer{
    color: white;
    padding: 20px;
    text-align: center;
    height: 20px;
    background-color: black;
    margin-left: -10px;
    margin-right: -10px;
}