.h2{
    text-align: center;
    color: #FF3399;
    background-color:#FECFFD;
}
.p1{
    color: blue;
    text-align: center;
    font-style: italic;

}
.p2{
    color: brown;
    text-align: center;
    font-style: italic;


}
.p3{
    color: green;
    text-align: center;
    font-style: italic;


}
